<div {{bind-attr class=":line message.is_purged:purged message.is_notify:notify"}} data-timestamp="{{message.timestamp}}">
{{#if message.is_action}}
  <span class="action">
    <span class="chatter" style="{{message.style}}"><strong>{{message.name}}</strong></span>
    <span class="message" style="{{message.style}}">{{{message.message}}}</span>
  </span>
{{else}}
  <span class="chatter" style="{{message.style}}">
    <strong>{{message.name}}</strong>:
  </span>
  <span class="message">
  {{#if message.is_purged}}
    <i>Redacted.</i>
  {{else}}
    {{{message.message}}}
  {{/if}}
  </span>
  <span class="timestamp">{{message.timestamp}}</span>
{{/if}}
</div>
<ul class="chatter-roles">
{{#each role in message.role_list}}
  <li class="chatter-role role-{{role}}"><span></span></li>
{{/each}}
</ul>
