{{outlet}}

<h1>Dashboard</h1>

<h2>Hosts</h2>
<ul>
{{#each latestHosts as |host|}}
  <li>
    {{host.username}}
    {{host.broadcast}}
  </li>
{{/each}}
</ul>

<h2>Raids</h2>
<ul>
{{#each latestRaids as |raid|}}
  <li>
    {{raid.username}}
    {{raid.broadcast}}
  </li>
{{/each}}
</ul>
