{{#document-title}}Dashboard{{/document-title}}

<div class="dashboard">
  <header class="dashboard__header">
    <div class="dashboard__header--inner container--inner">
      <h1>Dashboard</h1>
    </div>
  </header>

  <section class="dashboard__section dashboard__masthead">
    <div class="dashboard__masthead--inner container--inner">
    {{#with model.broadcast as |broadcast|}}
      <span class="broadcast__header">Episode <strong>{{broadcast.number}}</strong>: {{broadcast.status}}</span>
      <span class="broadcast__count broadcast__raids">Raids: {{broadcast.raids.length}}</span>
      <span class="broadcast__count broadcast__hosts">Hosts: {{broadcast.hosts.length}}</span>
    {{/with}}
    </div>
  </section>

  <section class="dashboard__section dashboard__tools" role="main">
    <div class="dashboard__tools--inner container--inner flex">
      <div class="events flex">
        <div class="events__item events__item--hosts flex__item">
          <h2><span class="ss-icon ss-airplay"></span> Hosts</h2>
          <ul class="events__list">
          {{#each latestHosts as |event|}}
            <li class="events__list__item flex flex--verticalCenter">
              <span class="event__status flex__item--noGrow">{{event.broadcast}}</span>
              <a class="event__actor flex__item" href="http://twitch.tv/{{event.username}}">
                {{event.username}}
                <span class="event__timestamp" data-livestamp="{{event.timestamp}}"></span>
              </a>
            </li>
          {{/each}}
          </ul>
        </div>

        <div class="events__item events__item--raids flex__item">
          <h2><span class="ss-icon ss-target"></span> Raids</h2>
          <ul class="events__list">
          {{#each latestRaids as |event|}}
            <li class="events__list__item flex flex--verticalCenter">
              <span class="event__status flex__item--noGrow">{{event.broadcast}}</span>
              <a class="event__actor flex__item" href="http://twitch.tv/{{event.username}}">
                {{event.username}}
                <span class="event__timestamp" data-livestamp="{{event.timestamp}}"></span>
              </a>
            </li>
          {{/each}}
          </ul>
        </div>

        <div class="events__item events__item--subscriptions flex__item">
          <h2><span class="ss-icon ss-shield"></span> Subscriptions</h2>
          <ul class="events__list">
          {{#each latestTickets as |event|}}
            <li class="events__list__item flex flex--verticalCenter">
              <span class="event__status flex__item--noGrow">{{event.status}}</span>
              <a class="event__actor flex__item" href="http://twitch.tv/{{event.name}}">
                {{event.displayName}}
                <span class="event__timestamp" data-livestamp="{{event.updated}}"></span>
              </a>
            </li>
          {{/each}}
          </ul>
        </div>
      </div>

      <div class="utilities flex__item--noGrow">
        {{!-- <h2><span class="ss-icon ss-wrench"></span> Utilities</h2> --}}

        <div class="utilities__forms flex flex--column">
          <form class="form" {{action "triggerSubscription" on="submit"}}>
            <h3 class="form__header">Subscription</h3>
            <div class="form__controls flex">
              {{input placeholder="Username" value=subscriber required="required" class="form__control"}}
              <button class="form__submit flex__item--noGrow"><span class="ss-icon ss-rocket"></span></button>
            </div>
          </form>

          <form class="form" {{action "triggerResubscription" on="submit"}}>
            <h3 class="form__header">Resubscription</h3>
            <div class="form__controls flex">
              {{input placeholder="Username" value=resubscriber required="required" class="form__control"}}
              <button class="form__submit flex__item--noGrow"><span class="ss-icon ss-rocket"></span></button>
            </div>
          </form>

          <form class="form" {{action "triggerSubstreak" on="submit"}}>
            <h3 class="form__header">Substreak</h3>
            <div class="form__controls flex">
              {{input placeholder="Username" value=substreaker required="required" class="form__control substreak__actor"}}
              {{input placeholder="#" value=length required="required" class="form__control substreak__length" type="number"}}
              <button class="form__submit flex__item--noGrow"><span class="ss-icon ss-rocket"></span></button>
            </div>
          </form>

          <form class="form" {{action "triggerDonation" on="submit"}}>
            <h3 class="form__header">Donation</h3>
            <div class="form__controls flex">
              {{input placeholder="Username" value=donater required="required" class="form__control"}}
              <button class="form__submit flex__item--noGrow"><span class="ss-icon ss-rocket"></span></button>
            </div>
          </form>

          <form class="form" {{action "triggerHost" on="submit"}}>
            <h3 class="form__header">Host</h3>
            <div class="form__controls flex">
              {{input placeholder="Username" value=hoster required="required" class="form__control"}}
              <button class="form__submit flex__item--noGrow"><span class="ss-icon ss-rocket"></span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>