{{outlet}}

<h1>Dashboard</h1>

<div class="events flex">
  <div class="events__hosts flex__item">
    <h2>Hosts</h2>
    <ul>
    {{#each latestHosts as |event|}}
      <li>
        <a href="http://twitch.tv/{{event.username}}">{{event.username}}</a>
        {{event.broadcast}}
      </li>
    {{/each}}
    </ul>
  </div>

  <div class="events__raids flex__item">
    <h2>Raids</h2>
    <ul>
    {{#each latestRaids as |event|}}
      <li>
        <a href="http://twitch.tv/{{event.username}}">{{event.username}}</a>
        {{event.broadcast}}
        {{event.timeago}}
      </li>
    {{/each}}
    </ul>
  </div>
</div>

<div class="utilities">
  <h2>Utilities</h2>

  <div class="utilities__forms flex">
    <form class="form" {{action "triggerSubscription" on="submit"}}>
      <h3>Subscription</h3>
      {{input placeholder="Username" value=subscriber required="required" class="form__control"}}
      <button>Fire</button>
    </form>

    <form class="form" {{action "triggerResubscription" on="submit"}}>
      <h3>Resubscription</h3>
      {{input placeholder="Username" value=resubscriber required="required" class="form__control"}}
      <button>Fire</button>
    </form>

    <form class="form" {{action "triggerSubstreak" on="submit"}}>
      <h3>Substreak</h3>
      {{input placeholder="Username" value=substreaker required="required" class="form__control"}}
      {{input placeholder="Length" value=length required="required" class="form__control" type="number"}}
      <button>Fire</button>
    </form>

    <form class="form" {{action "triggerDonation" on="submit"}}>
      <h3>Donation</h3>
      {{input placeholder="Username" value=donater required="required" class="form__control"}}
      <button>Fire</button>
    </form>
  </div>
</div>