{{outlet}}

<h1>Dashboard</h1>

<h2>Hosts</h2>
<ul>
{{#each latestHosts as |host|}}
  <li>
    {{host.username}}
    {{host.broadcast}}
  </li>
{{/each}}
</ul>

<h2>Raids</h2>
<ul>
{{#each latestRaids as |raid|}}
  <li>
    {{raid.username}}
    {{raid.broadcast}}
    {{raid.timeago}}
  </li>
{{/each}}
</ul>

<h2>Utilities</h2>

<h3>Subscription</h3>
<form class="form" {{action "triggerSubscription" on="submit"}}>
  {{input value=username name="username" id="subscriber" class="form-control"}}
  <button>Fire</button>
</form>

<h3>Resubscription</h3>
<form class="form" {{action "triggerResubscription" on="submit"}}>
  {{input value=username name="username" id="resubscriber" class="form-control"}}
  <button>Fire</button>
</form>

<h3>Substreak</h3>
<form class="form" {{action "triggerSubstreak" on="submit"}}>
  {{input value=username name="username" id="substreaker" class="form-control"}}
  {{input value=length name="length" id="length" class="form-control"}}
  <button>Fire</button>
</form>

<h3>Donation</h3>
<form class="form" {{action "triggerDonation" on="submit"}}>
  {{input value=username name="username" id="donater" class="form-control"}}
  <button>Fire</button>
</form>
