{{outlet}}

<h1>Dashboard</h1>

<div class="events flex">
  <div class="events__hosts flex__item">
    <h2>Hosts</h2>
    <ul>
    {{#each latestHosts as |event|}}
      <li>
        <a href="http://twitch.tv/{{event.username}}">{{event.username}}</a>
        {{event.broadcast}}
      </li>
    {{/each}}
    </ul>
  </div>

  <div class="events__raids flex__item">
    <h2>Raids</h2>
    <ul>
    {{#each latestRaids as |event|}}
      <li>
        <a href="http://twitch.tv/{{event.username}}">{{event.username}}</a>
        {{event.broadcast}}
        {{event.timeago}}
      </li>
    {{/each}}
    </ul>
  </div>
</div>

<h2>Utilities</h2>

<h3>Subscription</h3>
<form class="form" {{action "triggerSubscription" on="submit"}}>
  {{input value=subscriber name="username" id="subscriber" class="form-control"}}
  <button>Fire</button>
</form>

<h3>Resubscription</h3>
<form class="form" {{action "triggerResubscription" on="submit"}}>
  {{input value=resubscriber name="username" id="resubscriber" class="form-control"}}
  <button>Fire</button>
</form>

<h3>Substreak</h3>
<form class="form" {{action "triggerSubstreak" on="submit"}}>
  {{input value=substreaker name="username" id="substreaker" class="form-control"}}
  {{input value=length name="length" id="length" class="form-control"}}
  <button>Fire</button>
</form>

<h3>Donation</h3>
<form class="form" {{action "triggerDonation" on="submit"}}>
  {{input value=donater name="username" id="donater" class="form-control"}}
  <button>Fire</button>
</form>
