{{#document-title}}Discussion{{/document-title}}

<div class="overlay__container">
  <div class="overlay overlay--discussion flex">
    <div class="overlay__section flex__item flex flex--column flex--horizontalCenter" role="main">
      <div class="element__metadata flex__item--noGrow flex flex--verticalCenter">
      {{#with model.broadcast as |broadcast|}}
        <div class="metadata__number flex__item--noGrow"><span class="metadata__number--inner">{{broadcast.number}}</span></div>
        <div class="metadata__subdata flex__item">
          <div class="metadata__status">{{broadcast.status}}</div>
          <div class="metadata__date">{{broadcast.formattedAirDate}}</div>
        </div>
      {{/with}}
      </div>
      <div class="element__webcam flex__item--noGrow"></div>
      <div class="element__notifier flex__item--noGrow">{{event-notifier}}</div>
    </div>
    <aside class="overlay__section flex__item--noGrow flex flex--column" role="aside">
      {{!-- Insert looper. --}}
      {{partial "partials/social-informer"}}
    </aside>
    <aside class="overlay__section flex__item--noGrow flex flex--column" role="chat">
      <div class="element__chat flex__item">
        <ul class="chat-list">
        {{#each model.messages as |message|}}
          {{chat-message message=message}}
        {{/each}}
        </ul>
      </div>
    </aside>
  </div>
</div>